body{
  background-color: powderblue;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
hr{
     background-color: powderblue;
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
     width: 5%;
   }
